.app-container {
  max-width: 550px;
  margin-left: 50px;
  padding: 20px;
}

/* Заголовок */
h1 {
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 24px;
}

/* Drag-and-Drop */
.drop-zone {
  border: 2px dashed var(--primary);
  border-radius: 10px;
  padding: 28px;
  text-align: center;
  transition: 0.25s;
  font-weight: 500;
  background: #f5f7ff;
}

.drop-zone:hover {
  background: #ebefff;
}

/* Кнопка */
.run-btn {
  display: block;
  margin: 18px auto 0;
  padding: 12px 22px;
  font-size: 1rem;

  border-radius: 8px;
  border: none;
  background: var(--primary);
  color: white;
  cursor: pointer;

  transition: 0.25s;
}

.run-btn:hover {
  background: var(--primary-hover);
}

/* Таблица */
.history-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 24px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.history-table th {
  background: var(--primary);
  color: white;
  padding: 10px;
  font-weight: 600;
}

.history-table td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.history-table tr:nth-child(even) {
  background: #f8f9ff;
}

.history-table tr:hover {
  background: #eef2ff;
  transition: 0.2s;
}

label {
  display: block;
  margin-bottom: 14px;
  font-weight: 500;
}

input[type="range"] {
  width: 100%;
  margin-top: 6px;
}

/* Контейнер под один ползунок */
.slider-block {
  margin-bottom: 18px;
}

/* Линия ползунка */
input[type="range"] {
  appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 4px;
  background: #b8c7d5;
}

input[type="range"]:hover {
  background: #c5caff;
}

/* Бегунок — Chrome/Edge/Safari */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  background: var(--primary);
  border-radius: 10px;
  border: 2px solid white;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: var(--primary-hover);
}

/* Firefox
input[type="range"]::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: var(--primary);
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
} */
